/* CSS Reset  */

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */

:root {
    --navbar-height: 59px;
}

/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* List Styling */

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(251, 253, 251);
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* Logo and Image  */

#logo {
    margin: 19px 28px;
    height: 49px;
}

#logo img {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 725px;
}

#home::before {
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Services Section  */

#services {
    display: flex;
    margin: 34px;
}

#services .box {
    border: 2px solid rgb(203, 100, 100);
    padding: 34px;
    margin: -22px 13px;
    border-radius: 25px;
    background-color: rgb(206, 173, 173);
}

#services .box img {
    height: 180px;
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#services .box p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Utility Class */

.h-primary {
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: sans-serif;
    padding: 10px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    background-color: rgb(147, 144, 144);
    margin: 17px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* Client Section  */

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../bg2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#clients img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}

/* Contact Section  */

.contact {
    position: relative;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-box form {
    width: 25%;
    
}

.contact-box label {
    display: flex;
    font-size: 1rem;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-box input, .contact-box textarea {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0.3rem;
    border-radius: 15px;
    border-color: transparent;
    background-color: white;
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(98, 94, 94);
    margin: 5px;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('../img/2.jpg') no-repeat center center/cover;
}

/* Footer  */

footer {
    background-color: black;
    color: white;
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: fixed;
}